*
{
	padding: 0;
	margin: 0;
}

body
{
	height: 100vh;
	display: flex;
}

.center
{
	font-family: 'Megrim', cursive;
	font-weight: bold;
	text-align: center;
	margin: auto;
	font-size: 2vw;
}

footer
{
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
	height:25px;
	line-height: 25px;
}

footer a
{
	color: blue;
}